@import "../../sass/palette";

.ContactItem {
  list-style-type: none;
  margin-bottom: 15px;
}
.ContactItem__ActionWrapper {
  border: 0;
  padding: 5px 0 5px 20px;
  margin: 0;
  width: 100%;
  text-align: left;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: darken($clouds, 5%);
  }
  &:focus {
    outline: 2px dotted black;
  }
}
.ContactItem__Gravatar,
.ContactItem__FullName {
  display: inline-block;
  vertical-align: middle;
}
.ContactItem__Gravatar {
  margin-right: 15px;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  text-align: center;
  img {
    margin-top: 10px;
  }
}
