@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import "./sass/palette";

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 60px;
  background-color: $peterRiver;
}
.button {
  border: 0;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;

  &:focus {
    outline: 2px dotted black;
  }
}
.button--mainAction {
  background-color: $greenSea;

  &:hover,
  &:active {
    background-color: darken($greenSea, 10%);
  }
}
.button--warning {
  background-color: $pomegranate;

  &:hover,
  &:active {
    background-color: darken($pomegranate, 10%);
  }
}

.button--action {
  background-color: $belizeHole;

  &:hover,
  &:active {
    background-color: darken($belizeHole, 10%);
  }
}
